body
{
    background-color: rgb(12, 15, 196);
    align-items: center;
}

#title, #description
{
    text-align: center;
    color:rgb(110, 219, 83);
}

#survey-form
{
    background-color: chartreuse;
    color:rgb(4, 28, 243);
    align-items: center;
    margin:1em auto;
    padding:1em;
    text-align:justify;
}

#submit
{
    background-color: darkmagenta;
    color: wheat;
    align-items: center;
}

#name-label, #name, #email-label, #email, #number-label
#number
{
    align-items: center;
}